.login {
  min-height: 200px;
}

.text-center {
  text-align: center;
}

.center {
  margin: auto 0;
}

#logoutButton {
  float: right;
}

#loginButton {
  float: right;
}

#idInput {
  margin-left: 20px;
}